<section *ngIf="!showcreate">
  <div class="row">
    <div class="col">
      <plex-box type="primary">
        <header>
          <div class="page-title">Organizaciones</div>

        <form [formGroup]="searchForm">
          <div class="row">
            <div class="col-5">
              <plex-text formControlName="codigoSisa" label="codigoSisa" placeholder="Ingresar codigo...">
              </plex-text>
            </div>
            <div class="col-5">
              <plex-text formControlName="nombre" label="Nombre" placeholder="Ingresar nombre...">
              </plex-text>
            </div>
            <div class="col-2">
              <label>Habilitado</label>
              <plex-bool type="slide" formControlName="activo" name="activo"></plex-bool>
            </div>
          </div>
        </form>
        <br>
      </header>
        <!--// TODO: hay que resolver el tema de plex-scroll-->
        <plex-scroll (on-scroll)="nextPage()" distancia="3"></plex-scroll>
        <div *ngIf="datos.length === 0" class="alert alert-danger">
             No se encontró ningúna organizacion
          </div>
        <table *ngIf="datos && datos.length" class="table table-striped">
          <thead>
            <tr>
              <th>Codigo Sisa</th>
              <th>Nombre</th>
              <th>Complejidad</th>
              <th>Habilitado</th>
              <th>Actualizar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="hover" *ngFor="let organizacion of datos">
              <td>{{organizacion.codigo.sisa}}</td>
              <td>{{organizacion.nombre}}</td>
              <td>
                <p class="text-center">{{organizacion.nivelComplejidad}}</p>
              </td>
              <td>
                  <plex-bool type="slide" *ngIf="organizacion.activo === false" [(ngModel)]="organizacion.activo"  name="organizacion.activo" (change)="activateTrue(organizacion)"></plex-bool>
                  <plex-bool type="slide" *ngIf="organizacion.activo === true" [(ngModel)]="organizacion.activo"  name="organizacion.activo" (change)="activateFalse(organizacion)"></plex-bool>
                <!-- <plex-bool type="slide" [(ngModel)]="organizacion.activo" label="" name="organizacion.activo" (click)="activate(organizacion)"></plex-bool> -->
              </td>
              <td>
                <plex-button type="primary" label="Actualizar" (click)="onEdit(organizacion)">
                </plex-button>
              </td>
            </tr>
          </tbody>
        </table>
        <plex-loader *ngIf="loader"></plex-loader>
        <div  class="alert alert-info" role="button" *ngIf="fin === false" (click)="nextPage()" >
            <p class="text-center">Ver más </p>
    <!-- pasar a un componente de plex -->
    </div>
      </plex-box>
    </div>
  </div>
</section>

<footer *ngIf="!showcreate">
  <div class="text-right">
    <plex-button type="primary" label="Nueva Organizacion" (click)="showcreate = !showcreate"></plex-button>
  </div>
</footer>

<!--Componente de Alta/Modificación-->
<organizacion-create-update *ngIf="showcreate" [seleccion]="seleccion" (data)='onReturn($event)'></organizacion-create-update>